.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
}

.navbar .nav-links{
    display: flex;
}
.navbar .nav-links ul{
    display: flex;
}
.navbar .nav-links li{
    margin: 10px;
    list-style: none;
    text-transform:uppercase ;
}